@import './vars';

#Head {
  margin-top: -5.2rem;
  background: $gradient;
  padding: 8.2rem 3rem 3rem;
  text-align: center;
}

#Ads {
  display: flex;
  justify-content: space-between;
}

// Skills
#Skills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  #skill-container {
    text-align: left;
    max-width: 30rem;
    margin: 0 0.5rem 1rem;
    background: var(--bg1);
  }
  #skill {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5rem;
    padding: 3px 1px;
    color: var(--fg2);
    border-bottom: 0.1pt solid #888888;
  }
  #chart {
    flex-grow: 1.5;
  }
}
#tech {
  margin: auto;
  padding: 0 7px 1rem;
  // width: fit-content;
  // background: var(--bg1);
  // border-radius: 2.5rem;
  img {
    margin: 0 5px;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    .nextjs {
      fill: var(--forground1);
    }
  }
}

#resume {
  .btn {
    position: absolute;
    margin: 1.5rem 2.5rem;
    padding: 8px 1.2rem;
    background: var(--accent);
    color: #fff;
    right: 0;
    bottom: 0;
    // transform: translateX(-50%);
    &:hover {
      background: var(--bg1);
      color: var(--accent);
    }
  }
}
// Responsive Design
@media screen and (max-width: $lg) {
}

@media screen and (max-width: $md) {
}

@media screen and (max-width: $sm) {
}
