@import './pages';
@import './component';
@import './vars';

* {
  margin: 0;
  padding: 0;
  font-family: $font1;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: display 0.3s ease-in-out;
}

html {
  font-size: 10px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--foreground1);
  background: var(--background1);
  animation: fade-in 0.8s $curve1;
  // lightMode
  &.light {
    --accent: #00e0d5; //#00cddb
    --foreground1: #111;
    --background1: #fff;
    --foreground2: #7f7f7f;
    --background2: #fafafa;
  }

  //darkMode
  &.dark {
    --accent: #00e0d5; //#00cddb
    --foreground1: #fff;
    --background1: #111;
    --foreground2: #c3c3c3;
    --background2: #181818;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  color: var(--foreground1);
  font-weight: 700;
  margin: 5px 0;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
h2 {
  font-size: 1.6rem;
  color: var(--accent);
  line-height: 3rem;
  font-weight: 500;
}
b {
  font-family: $font2;
}
p {
  margin: 0.25rem 0 0.5rem 0;
  font-family: $font1;
  color: var(--foreground2);
  line-height: 24px;
  font-size: 1.4rem;
  a {
    color: var(--accent);
    &:hover {
      text-decoration: underline;
    }
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 0.3s $curve1;
}
li {
  list-style: none;
}
svg {
  vertical-align: middle;
  transition: all 0.3s $curve1;
}
input,
textarea,
button {
  font-family: $font1;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--foreground2);
  display: inline-block;
  border: none;
  outline: none;
  transition: all 0.3s $curve1 0s;
  touch-action: manipulation;
}
// Section Styling
section {
  margin: auto;
  max-width: $max-width;
  background: transparent;
}
.whiteSection {
  background: var(--background1);
  box-shadow: $shadow;
}
.greySection {
  background: var(--background2);
}
#line {
  width: 5rem;
  margin: 1rem auto;
  background: var(--accent);
  border: none;
  border-radius: 20px;
  height: 3px;
}
// Card Styling
.card {
  margin: 1rem 0.75rem;
  background-color: var(--background1);
  color: var(--foreground1);
  border-radius: 3rem;
  box-shadow: $shadow;
}

// Badge Styling
.badge {
  margin: 15px auto;
  padding: 2px 14px;
  border-radius: 8px;
  width: max-content;
  background-color: var(--accent);
  font-weight: 400;
}

// Responsive Design
@media screen and (max-width: $lg) {
}

@media screen and (max-width: $md) {
}

@media screen and (max-width: $sm) {
}

// Animations
/* transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1); */

@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
