// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");

// Variables
$dark: #181818;
$light: #ddd;
$grey: #242424;
$accent: #3a78d4;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
