@import "../variables";

// Badge Styling
.badge {
  margin: 15px auto;
  padding: 2px 14px;
  border-radius: 8px;
  width: max-content;
  background-color: $accent;
  font-weight: 400;
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
}

@media screen and #{$mq-small} {
}
