// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.scss");

// Variables
$dark: #181818;
$light: #f4f4f4;
$grey: #333;
$accent: #078fff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow1: 0px 5px 10px rgba(0, 0, 0, 0.1);

// Section Styling
.section {
  padding: 40px 14%;
  background-color: #fff;
}
.grey-section {
  padding: 40px 14%;
  background-color: $light;
}
// Card Styling
.card {
  margin: 5px 10%;
  padding: 30px;
  background-color: #fff;
  color: white;
  border-radius: 5px;
}

// Badge Styling
.badge {
  margin: 15px auto;
  padding: 2px 14px;
  border-radius: 8px;
  width: max-content;
  background-color: $accent;
  font-weight: 600;
}
@media screen and (max-width: 950px) {
  .section,
  .section-grey {
    padding: 30px 5%;
  }
}
@media screen and (max-width: 650px) {
}
