// Variables
$dark: #181818;
$light: #ddd;
$grey: #242424;
$accent: #077bff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);

* {
  box-sizing: border-box;
}
body {
  background: $light;
  font-family: $font1;
  font-size: 13px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  cursor: default;
  color: $dark;
}
a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
.gradientText {
  background: $accent;
  background: $gradient;
  background: $-webkitgradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientTextOnHover {
  a:hover,
  a.active {
    background: $accent;
    background: $gradient;
    background: $-webkitgradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
