// Variables
$dark: #181818;
$light: #ddd;
$grey: #444;
$accent: #078fff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow1: 0px 5px 10px rgba(0, 0, 0, 0.1);
$shadow2: 4px 5px 10px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  background: $light;
  font-family: $font1;
  font-size: 14px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  cursor: default;
  color: $dark;
  line-height: 1;
}
p {
  margin: 5px 0;
  font-family: $font1;
  color: $grey;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}

.flexHead {
  display: flex;
  justify-content: space-between;
  vertical-align: text-bottom;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
