// Variables
$dark: #16171a;
$light: #d5dedf;
$accent: #0056d8;
$font1: "Roboto", sans-serif;
$font2: "Space Mono", Monospace;

html,
body {
  margin: 0;
  padding: 0;
  width: auto;
  scroll-behavior: smooth;
}
