@import "../variables";

// MoreAbout
#moreAbout {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 6%;
  #profile {
    background: #bbb;
    margin: 20px auto;
    width: 100%;
    height: 350px;
  }
  #moreAboutText {
    text-align: left;
    margin: auto 0;
  }
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
  // MoreAbout
  #moreAbout {
    display: block;
    #profile {
      margin: 0 auto;
    }
    #moreAboutText {
      margin-top: 15px;
    }
  }
}

@media screen and #{$mq-small} {
}
