@import "../variables";

// MoreAbout
#moreAbout {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 6%;

  #moreAboutText {
    text-align: left;
    margin: auto 0;
  }
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
  // MoreAbout
  #moreAbout {
    display: block;
    #profile {
      margin: 5px auto;
      width: 27.5rem;
      height: 27.5rem;
    }
    #moreAboutText {
      margin-top: 15px;
    }
  }
}

@media screen and #{$mq-small} {
}
