@import "../variables";

// Skills
#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #development,
  #design {
    display: flex;
    margin: 5px;
  }
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
}

@media screen and #{$mq-small} {
}
