// Import
@import url("../UI/UI.scss");

a {
  text-decoration: none;
}

// Card Styling
.card {
  margin: 5px 150px;
  padding: 20px;
  background-color: $dark;
  color: white;
  height: fit-content;
  border-radius: 10px;
}
