// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");

// Variables
$dark: #16171a;
$light: #ddd;
$grey: #444;
$accent: #3a78d4;
$font1: "Roboto", sans-serif;
$font2: "Space Mono", Monospace;

// Card Styling
.card {
  margin: 5px 150px;
  padding: 20px;
  background-color: $dark;
  color: white;
  height: fit-content;
  border-radius: 10px;
}
