// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");

// Variables
$dark: #181818;
$light: #ddd;
$grey: #242424;
$accent: #3d87c9;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
// linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
// -webkit-linear-gradient(to left, #4facfe 0%, #00f2fe 100%);

// Section Styling
.section {
  margin: 0;
  padding: 40px 11%;
  background-color: #fff;
  color: $grey;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
