@import "../variables";

// NavBar Styling
header {
  // fixed position
  z-index: 5;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0px;
  background: $background1;
  font-size: 1.2rem;
  font-weight: 600;
  nav {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    max-width: 1040px;
    margin: auto;
    align-items: center;
    box-shadow: $shadow;
    height: 55px;
    #logo {
      // padding: 3px;
      // border: solid $accent 0.3px;
      vertical-align: middle;
      color: $foreground1;
      opacity: 0.9;
      font-family: $font2;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 0.9;
      transition: all 0.2s $curve1;
      &:hover {
        opacity: 1;
      }
    }
    // DesktopNav
    #desktopNav {
      display: block;
      li {
        display: inline-block;
      }
      a {
        padding: 20px 15px;
        letter-spacing: 0.7px;
      }
    }
  }
  a {
    color: $foreground1;
    opacity: 0.6;
    &:hover {
      color: $accent;
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
}
// MobileNav
.hamburger {
  cursor: pointer;
  background: transparent;
  height: 20px;
  position: relative;
  width: 20px;
  display: none;
  &::before,
  &::after {
    background-color: $background1;
    content: " ";
    border: none;
    display: block;
    height: 2px;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s $curve1;
    &:hover {
      background-color: $accent;
    }
  }
  &::before {
    top: 25%;
  }
  &::after {
    top: 75%;
  }
}
.cross {
  &::before {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
  }
  &::after {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
  }
}
#mobileNav {
  z-index: 5;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0;
  padding: 5px 10%;
  background: $foreground1;
  height: calc(100vh - 50px);
  width: 100%;
  text-align: center;
  transition: all 0.3s $curve1 0s;
  -webkit-animation: nav-in 0.3s $curve1 alternate;
  animation: nav-in 0.3s $curve1 alternate;
  li {
    display: block;
    margin: 15px 100px;
  }
}

// Social Styling
#social {
  a {
    vertical-align: middle;
    cursor: pointer;
    color: $foreground1;
    opacity: 0.6;
    margin: 0 4px;
    font-size: 1.5rem;
    &:hover {
      opacity: 1;
    }
  }
  .fa-github:hover {
    color: #a806c5;
  }
  .fa-twitter:hover {
    color: #1d9ff0;
  }
  .fa-linkedin:hover {
    color: #00a6ff;
  }
  .fa-instagram:hover {
    color: #ff1f57;
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
// Loader Styling
.loader {
  margin: 40px auto;
  img {
    width: 50rem;
  }
}

// Hero Styling
.hero {
  background: $accent;
  background: $gradient;
  background: $-webkitgradient;
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 55px);
  padding: 50px 12%;
  line-height: 1.2;
  color: $background1;
  transition: all 0.3s $curve1 0s;
  #name {
    font-size: 6.5rem;
    font-weight: 700;
    // Centering
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #prof {
    font-size: 3rem;
    font-weight: 600;
    color: $foreground1;
    transition: all 0.3s $curve2 0s;
    // Centering
    position: relative;
    top: 10px;
  }
}
/*Vertical Sliding*/
.slidingVertical {
  transition: all 0.2s $curve2 0s;
}
.slidingVertical span {
  animation: topToBottom 3.5s $curve2 infinite 0s;
  -ms-animation: topToBottom 3.5s $curve2 infinite 0s;
  -webkit-animation: topToBottom 3.5s $curve2 infinite 0s;
  color: $foreground1;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 2s;
  -ms-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

// Projects Styling
.projects {
  z-index: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.projectCard {
  display: grid;
  box-sizing: border-box;
  height: 35rem;
  grid-template-rows: 15rem 15rem 2rem 3rem;
  margin: 15px;
  background-color: $background1;
  border-radius: 10px;
  box-shadow: $shadow;
  .projectImage {
    border-radius: 10px 10px 0 0;
    background: #bbbbbb;
  }
  .projectText {
    padding: 20px;
    color: $foreground2;
  }
  .tools {
    margin: auto;
    color: $foreground2;
    font-size: 1rem;
  }
  .projectOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 20px;
    .fa-github-alt {
      color: $foreground1;
      &:hover {
        color: #a806c5;
      }
    }
    #veiwLive {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: 600;
      color: $accent;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// Gallery Styling
.imgContainer {
  position: relative;
  padding: 0;
  top: 8px;
  text-align: center;
}
.imgWrapper {
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  margin-top: -8px;
  img {
    cursor: pointer;
    max-height: 20rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(0.9);
    filter: grayscale(0.9);
    transition: all 0.4s $curve2;
    &:hover {
      transform: scale(1.06);
      -webkit-filter: none;
      filter: none;
    }
  }
}

//Contact Styling
#contactForm {
  margin: 20px 0;
  padding: 0 20%;
  display: inline-block;
  input {
    width: 100%;
    padding: 12px 20px;
    width: 100%;
  }
  textarea {
    height: 150px;
    resize: vertical;
    width: 100%;
  }
  button[type="submit"] {
    margin: 10px 5px;
    background: $accent;
    color: $background1;
    font-size: 1.5rem;
    transition: all 0.3s $curve2 0s;
    box-shadow: 0 5px 10px 0px rgba(7, 143, 255, 0.1);
    &:hover {
      background: $foreground1;
      box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
      i.m-1-10 {
        transform: translateX(5px);
      }
    }
  }
  button[type="reset"] {
    margin: 10px 5px;
    color: $background1;
    background: $foreground1;
    box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
    transition: all 0.3s $curve2 0s;
    &:hover {
      background: $foreground2;
      i.fa-refresh {
        transform: rotate(360deg);
        transition: all 0.4s $curve2 0s;
      }
    }
  }
  input,
  textarea,
  button {
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: $background2;
    &:focus,
    &:hover {
      box-shadow: $shadow;
    }
  }
}
.m-1-10 {
  margin-left: 5px;
  transition: all 0.4s $curve2 0s;
}

// Footer Styling
footer {
  bottom: 0;
  height: 8rem;
  background: $background1;
  text-align: center;
  button#toTop {
    position: relative;
    top: 5px;
    margin: 5px auto;
    padding: 2px 9px;
    color: $background1;
    border-radius: 50%;
    font-size: 1.5rem;
    background: $accent;
    box-shadow: $shadow;
    &:hover {
      i.fa-angle-up {
        transform: translateY(-1px);
        transition: all 0.4s $curve2 0s;
      }
    }
  }
  #credits {
    position: relative;
    bottom: 5px;
    padding: 5px 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    color: #dc143c;
    #createdWith {
      margin: auto 0;
      color: $foreground1;
      img {
        width: 15px;
        vertical-align: middle;
      }
    }
    #copyright {
      color: $foreground1;
    }
  }
}

// Responsive Design
@media screen and #{$mq-medium} {
  // NavBar Styling
  nav {
    ul#desktopNav {
      display: none;
    }
  }
  // Mobile Nav
  .hamburger {
    display: block;
  }
  // Hero Styling
  .hero {
    padding: 50px 13%;
    grid-template-columns: auto;
    #prof {
      text-align: left;
      margin: 10px 0;
      font-size: 5.5rem;
    }
  }
  // Projects Styling
  .projects {
    grid-template-columns: 50% 50%;
  }
  // Gallery Styling
  .imgContainer {
    margin: 0 5%;
  }
  //Contact Styling
  #contactForm {
    padding: 0 15%;
  }
}

@media screen and #{$mq-small} {
  // Hero Styling
  .hero {
    grid-template-columns: auto;
    #name {
      font-size: 6rem;
    }
    #prof {
      font-size: 4.5rem;
    }
  }
  // Loader Styling
  .loader {
    img {
      width: 20em;
    }
  }
  // Projects Styling
  .projects {
    grid-template-columns: 100%;
  }
  // Gallery Styling
  .imgContainer {
    margin: 0;
  }
  .imgWrapper {
    width: 12.5rem;
    height: 12.5rem;
    img {
      max-height: 12.5rem;
    }
  }
  //Contact Styling
  #contactForm {
    padding: 0 12%;
  }
}

// Animation
@keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
@-webkit-keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
@keyframes buffering {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes buffering {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
