@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");
header {
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 7%;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16171a;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

header nav #social a {
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

header nav #social a:hover {
  color: #3a78d4;
}

header nav #menu {
  display: block;
  font-size: 14px;
}

header nav #menu a {
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0px 15px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

header nav #menu a:hover {
  color: #3a78d4;
}

header nav #menu a .active {
  color: #3a78d4;
}

header nav button {
  padding: 5px 15px;
  background-color: #3a78d4;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  cursor: pointer;
}

header nav button:hover {
  color: #3a78d4;
  background-color: #fff;
}

#hamburger {
  cursor: pointer;
  font-size: 23px;
  vertical-align: middle;
  display: none;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

#hamburger:hover {
  color: #3a78d4;
}

#hamburger .active {
  color: #3a78d4;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #1e65cf;
  background-size: cover;
  padding: 70px 9%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
  font-family: "Space Mono", Monospace;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

.hero #name {
  font-size: 80px;
}

.hero #prof {
  text-align: right;
  margin: auto 0;
  color: #16171a;
  line-height: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

.hero #prof li {
  display: block;
  font-size: 30px;
  opacity: 0.5;
}

.hero #prof li:nth-child(1) {
  font-size: 70px;
  display: block;
  opacity: 1;
}

.img {
  display: block;
  margin: 60px auto;
  width: 200px;
  border: 5px solid #16171a;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 0px 1px #16171a;
          box-shadow: 3px 3px 0px 1px #16171a;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 13px 10%;
  }
  nav #social {
    margin-right: 5px;
  }
  nav span#menu {
    display: none;
  }
  #hamburger {
    display: block;
    float: right;
  }
  .hero {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .hero #hello {
    font-size: 20px;
  }
  .hero #name {
    font-size: 80px;
  }
  .hero #prof {
    font-size: 30px;
    text-align: left;
  }
}
/*# sourceMappingURL=components.css.map */