@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");
header {
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 10%;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #181818;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

header nav #social a {
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

header nav #menu {
  display: block;
  font-size: 14px;
}

header nav #menu a {
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 30px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

header nav button {
  padding: 3px 15px;
  margin-left: 30px;
  background: #077bff;
  background: linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
  background: -webkit-linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
  font-family: "Poppins", sans-serif;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  cursor: pointer;
}

header nav button:hover {
  background: #fff;
  color: #077bff;
}

#hamburger {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  display: none;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

#hamburger:hover {
  color: #077bff;
}

#hamburger .active {
  color: #077bff;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #077bff;
  background: linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
  background: -webkit-linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
  background-size: cover;
  padding: 60px 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
  font-family: "Space Mono", Monospace;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

.hero h3 {
  color: #fff;
}

.hero #name {
  margin-top: 10px;
  font-size: 80px;
}

.hero #prof {
  text-align: right;
  font-family: "Poppins", sans-serif;
  margin: auto 0;
  color: #181818;
  line-height: 1.4;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
}

.hero #prof li {
  font-size: 30px;
  font-weight: 400;
}

.hero #prof li:nth-child(1) {
  font-size: 60px;
  font-weight: 600;
}

footer {
  margin: 0;
  bottom: 0;
  padding: 11px 10%;
  font-size: 13px;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
}

footer #made {
  margin: auto 0;
  color: #ddd;
}

footer #made .fa-heart {
  color: crimson;
}

footer #made img {
  width: 15px;
  vertical-align: middle;
}

footer #copyright {
  color: #ddd;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 13px 10%;
  }
  nav #social {
    margin-right: 5px;
  }
  nav span#menu {
    display: none;
  }
  #hamburger {
    display: block;
    float: right;
  }
  .hero {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .hero #hello {
    font-size: 30px;
  }
  .hero #name {
    font-size: 90px;
  }
  .hero #prof {
    text-align: left;
    margin: 10px 0;
  }
  .hero #prof li {
    font-size: 30px;
  }
  .hero #prof li:nth-child(1) {
    font-size: 60px;
  }
}

@media screen and (max-width: 550px) {
  nav {
    padding: 13px 10%;
  }
  nav #social {
    margin-right: 5px;
  }
  nav span#menu {
    display: none;
  }
  .hero {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    line-height: 0.9;
  }
  .hero #hello {
    font-size: 5px;
  }
  .hero #name {
    font-size: 60px;
  }
  .hero #prof {
    margin: 15px 0;
  }
  .hero #prof li {
    font-size: 20px;
  }
  .hero #prof li:nth-child(1) {
    font-size: 40px;
  }
  footer #made {
    margin: auto auto;
  }
  footer #copyright {
    display: none;
  }
}
/*# sourceMappingURL=components.css.map */