// Imports
@import url("../Animations.scss");

// Variables
$dark: #111;
$light: #ccc;
$grey: #666;
$accent: #078fff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);

// NavBar Styling
header {
  // fixed position
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0px;
  background: $dark;
  font-size: 0.75rem;
  font-weight: 600;
  nav {
    display: flex;
    padding: 10px 12%;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
    height: 50px;
    a {
      color: #fff;
    }
    #logo {
      /* padding: 0.1px 4px;
      border-radius: 4px;
      background: white; */
      vertical-align: middle;
      color: #fff;
      font-size: 0.8rem;
    }
    #desktopNav {
      display: block;
      li {
        display: inline-block;
      }
      a {
        opacity: 0.5;
        padding: 20px 15px;
        letter-spacing: 0.7px;
        &:hover {
          color: $accent;
          opacity: 1;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

// Loader Styling
.loader {
  margin: 40px auto;
  img {
    width: 100px;
  }
}

// Mobile Nav
.hamburger {
  cursor: pointer;
  background: transparent;
  border: 0;
  height: 20px;
  outline: 0;
  padding: 0;
  position: relative;
  width: 18px;
  display: none;
  &::before,
  &::after {
    background-color: #fff;
    content: " ";
    border: none;
    border-radius: 5px;
    display: block;
    height: 2px;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s $curve1;
    &:hover {
      background-color: $accent;
    }
  }
  &::before {
    top: 25%;
  }
  &::after {
    top: 75%;
  }
}
.x {
  &::before {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
  }
  &::after {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
  }
}
#mobileNav {
  z-index: 5;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0;
  padding: 5px 10%;
  background: $dark;
  height: calc(100vh - 50px);
  width: 100%;
  text-align: center;
  transition: all 0.3s $curve1 0s;
  animation: nav-in 0.3s $curve1 alternate;
  a {
    cursor: pointer;
    display: block;
    color: #fff;
    opacity: 0.5;
    font-family: $font1;
    font-weight: 600;
    &:hover {
      color: $accent;
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
  li {
    display: block;
    margin: 20px 100px;
  }
}

// Hero Styling
.hero {
  display: grid;
  grid-template-columns: 55% 45%;
  background: $accent;
  background: $gradient;
  background: $-webkitgradient;
  background-attachment: fixed;
  background-size: auto;
  height: calc(100vh - 50px);
  padding: 80px 12%;
  font-family: $font2;
  line-height: 1.2;
  color: #fff;
  transition: all 0.3s $curve1 0s;
  #hello {
    color: white;
    font-weight: 700;
    font-size: 1rem;
  }
  #name {
    font-size: 5rem;
    font-weight: 700;
    outline: 2px #fff;
  }
  #prof {
    text-align: right;
    font-family: $font1;
    font-weight: 600;
    margin-top: 2rem;
    color: $dark;
    transition: all 0.3s $curve1 0s;
    font-size: 65px;
  }
}

// Social Styling
#social {
  a {
    vertical-align: middle;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    margin: 0 4px;
    font-size: 0.9375rem;
    &:hover {
      opacity: 1;
    }
  }
  .fa-github:hover {
    color: #a806c5;
  }
  .fa-twitter:hover {
    color: #1d9ff0;
  }
  .fa-linkedin:hover {
    color: #00a6ff;
  }
  .fa-instagram:hover {
    color: #ff1f57;
  }
}

// Projects Styling
.projects {
  z-index: 0;
  display: grid;
  margin: 10px 12%;
  grid-template-columns: 33% 33% 33%;
}
.projectCard {
  display: grid;
  box-sizing: border-box;
  height: 26em;
  grid-template-rows: 40% 45% 5% 10%;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $shadow;
  .projectImage {
    border-radius: 10px 10px 0 0;
    background: #bbbbbb;
  }
  .projectText {
    padding: 20px;
    color: $grey;
  }
  .tools {
    margin: auto 25px;
    color: $grey;
    font-size: 10px;
  }
  .projectOptions {
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
    .fa-github-alt {
      color: $dark;
      &:hover {
        color: #a806c5;
      }
    }
    #learnMore {
      display: flex;
      justify-content: space-between;
      font-size: 0.75rem;
      font-weight: 600;
      color: $accent;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Gallery Styling
.imgContainer {
  z-index: 1;
  margin: 0 10%;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.imgWrapper {
  display: inline-flex;
  overflow: hidden;
  height: 14rem;
  width: 14rem;
  justify-content: center;
  margin-top: -7px;
  img {
    cursor: pointer;
    max-height: 14rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
    transition: all 0.4s $curve2;
    &:hover {
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -o-transform: scale(1.06);
      transform: scale(1.06);
      filter: none;
    }
  }
}

//Contact Styling
#contactForm {
  margin: 20px 0;
  padding: 0 20%;
  display: inline-block;
  input {
    width: 100%;
    padding: 12px 20px;
    width: 100%;
  }
  textarea {
    height: 150px;
    resize: vertical;
    width: 100%;
  }
  button[type="submit"] {
    cursor: pointer;
    margin: 10px 5px;
    background: $accent;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s $curve2 0s;
    box-shadow: 0 5px 10px 0px rgba(7, 143, 255, 0.35);
    &:hover {
      background: $dark;
      box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
      i.m-1-10 {
        transform: translateX(5px);
      }
    }
  }
  button[type="reset"] {
    cursor: pointer;
    margin: 10px 5px;
    color: #fff;
    background: $grey;
    box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
    transition: all 0.3s $curve2 0s;
    &:hover {
      background-color: $dark;
      i.fa-refresh {
        transform: rotate(360deg);
        transition: all 0.4s $curve2 0s;
      }
    }
  }
  input,
  textarea,
  button {
    font-family: $font1;
    font-size: 14px;
    font-weight: 700;
    color: $grey;
    display: inline-block;
    border: none;
    border-radius: 25px;
    margin: 10px 0;
    padding: 12px 20px;
    transition: all 0.3s $curve1 0s;
    background-color: $light;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    &:focus,
    &:hover {
      box-shadow: $shadow;
    }
  }
}
.m-1-10 {
  margin-left: 5px;
  transition: all 0.4s $curve2 0s;
}

// Footer Styling
footer {
  margin: 0;
  bottom: 0;
  padding: 15px 12% 40px 12%;
  font-size: 13px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  color: #dc143c;
  #createdWith {
    margin: auto 0;
    color: $dark;
    img {
      width: 15px;
      vertical-align: middle;
    }
  }
  #copyright {
    color: $dark;
  }
}

// Responsive Design
@media screen and (max-width: 950px) {
  // NavBar Styling
  nav {
    ul#desktopNav {
      display: none;
    }
  }
  // Mobile Nav
  .hamburger {
    display: block;
  }
  // Hero Styling
  .hero {
    padding: 50px 13%;
    grid-template-columns: auto;
    #prof {
      text-align: left;
      margin: 10px 0;
      font-size: 55px;
    }
  }
  // Projects Styling
  .projects {
    grid-template-columns: 50% 50%;
  }
  // Gallery Styling
  .imgContainer {
    margin: 0 5%;
  }
  //Contact Styling
  #contactForm {
    padding: 0 15%;
  }
}
@media screen and (max-width: 650px) {
  // Hero Styling
  .hero {
    grid-template-columns: auto;
    #name {
      font-size: 60px;
    }
    #prof {
      font-size: 45px;
    }
  }
  // Loader Styling
  .loader {
    img {
      width: 20em;
    }
  }
  // Projects Styling
  .projects {
    grid-template-columns: 100%;
    margin: 10px 5%;
  }
  // Gallery Styling
  .imgContainer {
    margin: 0;
  }
  .imgWrapper {
    width: 12rem;
    height: 12rem;
    img {
      max-height: 12rem;
    }
  }
  //Contact Styling
  #contactForm {
    padding: 0 12%;
  }
}

// Animation
@-webkit-keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
@keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
@-webkit-keyframes buffering {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes buffering {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
