@import "../variables";

// NavBar Styling
.transparentNav {
  background-color: transparent;
  nav a {
    color: #111;
    opacity: 1;
    &:hover,
    &.active {
      color: #111;
      opacity: 0.5;
    }
  }
  .hamburger::before,
  .hamburger::after {
    background-color: #111;
  }
  #Social a,
  #themeChanger {
    opacity: 1;
  }
  #mobileNav {
    color: var(--background1);
    &:hover {
      color: var(--accent);
    }
  }
}
header {
  // fixed position
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: var(--background1);
  font-weight: 700;
  nav {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    font-size: 1.2rem;
    align-items: center;
    height: 5.2rem;
    color: var(--background1);
    #logo {
      // padding: 3px;
      // border: solid var(--accent) 0.3px;
      vertical-align: middle;
      font-weight: 900;
      font-size: 1.5rem;
      font-family: $font2;
      line-height: 0.9;
      vertical-align: middle;
    }
    // DesktopNav
    #desktopNav {
      display: block;
      li {
        display: inline-block;
        vertical-align: middle;
      }
      a {
        padding: 20px 15px;
      }
    }
  }
  a {
    color: var(--foreground1);
    &:hover,
    &.active {
      color: var(--accent);
    }
  }
}
// MobileNav
.hamburger {
  cursor: pointer;
  background: transparent;
  height: 20px;
  position: relative;
  width: 20px;
  display: none;
  &::before,
  &::after {
    background-color: var(--foreground1);
    content: " ";
    border: none;
    display: block;
    height: 2px;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s $curve1;
    &:hover {
      background-color: var(--accent);
    }
  }
  &::before {
    top: 20%;
  }
  &::after {
    top: 70%;
  }
}
.cross {
  &::before {
    left: 0;
    top: 45%;
    transform: rotate(-45deg);
  }
  &::after {
    left: 0;
    top: 45%;
    transform: rotate(45deg);
  }
}
#mobileNav {
  z-index: -1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 10% 5px;
  background: var(--background1);
  height: calc(100vh);
  width: 100%;
  text-align: center;
  transition: all 0.3s $curve1 0s;
  animation: nav-in 0.3s $curve1 both alternate;
  li {
    display: block;
    margin: 25px 100px;
    font-size: 1.4rem;
  }
}

// ThemeChanger Styling
#themeChanger {
  font-size: 1.5rem;
  margin-left: 7px;
}

// Social Styling
#Social {
  background: var(--background2);
  border-radius: 2rem;
  padding: 0 10px;
  box-shadow: $inset-shadow;
  a {
    vertical-align: middle;
    cursor: pointer;
    color: var(--foreground1);
    margin: 0 4px;
    font-size: 1.5rem;
  }
  .fa-github:hover {
    color: #a806c5;
  }
  .fa-twitter:hover {
    color: #139ae8;
  }
  .fa-linkedin:hover {
    color: #0077b5;
  }
  .fa-dev {
    font-size: 1.6rem;
    &:hover {
      color: #004ddb;
    }
  }
}
// Loader Styling
.loader {
  font-family: $font2;
  margin: 5rem auto;
  img {
    margin: 2rem;
    width: 35rem;
  }
}

// Hero Styling
#Hero {
  display: flex;
  position: relative;
  margin-top: -5.2rem;
  flex-direction: column;
  justify-content: center;
  background: $gradient;
  height: calc(100vh);
  padding: 5rem 2.5rem;
  line-height: 1.2;
  transition: all 0.3s $curve1 0s;
  #heroText {
    margin: 2rem auto;
    text-align: center;
    font-weight: bolder;
    transform-origin: center;
  }
  #hello {
    font-size: 2.5rem;
    color: #111;
    font-family: $font2;
    animation: hero 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s both;
  }
  #swipe {
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: #111;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    animation: oscillate-Y 1s ease-in-out infinite;
    .fa-arrow-up {
      font-size: 1.3rem;
    }
  }
  #name {
    font-size: 7.5rem;
    color: #fff;
    animation: hero 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s both;
  }
  #slider {
    position: relative;
    left: 50%;
    transform-origin: center;
    transform: translateX(-85px);
    font-family: $font2;
    font-size: 3rem;
    font-weight: 700;
    li {
      animation: Slider 4.5s $curve2 infinite 0s;
      transition: all 0.8s $curve1;
      color: #111;
      text-align: center;

      opacity: 0;
      overflow: hidden;
      display: block;
      position: absolute;
    }
    li:nth-child(2) {
      animation-delay: 1.8s;
    }
    li:nth-child(3) {
      animation-delay: 8s;
    }
  }
}

// Projects Styling

#projects {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  #swipe {
    display: none;
    position: absolute;
    z-index: 3;
    margin-top: -2rem;
    right: 3rem;
    font-size: 1.4rem;
    animation: oscillate-X 1s ease-in-out infinite;
    .fa-long-arrow-left {
      font-size: 1.6rem;
      margin-right: 3px;
      vertical-align: middle;
      color: var(--accent);
    }
  }
}
#projectCard {
  display: grid;
  box-sizing: border-box;
  height: 36rem;
  width: 27rem !important;
  min-width: 27rem;
  grid-template-rows: 17rem 13rem 2rem 3rem;
  margin: 2rem 2.5rem;
  background-color: var(--background1);
  border-radius: 2.5rem;
  box-shadow: $shadow;
  overflow: hidden;
  text-align: left;
  #projectImage {
    background: #888;
    width: 27rem;
    height: 100%;
    object-fit: cover;
  }
  .projectText {
    padding: 1rem 2rem;
    color: var(--foreground2);
  }
  .tools {
    margin: auto;
    color: var(--foreground2);
    font-size: 1rem;
  }
  .projectOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    .fa-github-alt {
      color: var(--foreground1);
      font-size: 1.6rem;
      &:hover {
        color: #a806c5;
      }
    }
    #veiwLive {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--accent);
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// Gallery Styling
.imgContainer {
  position: relative;
  padding: 0;
  top: 10px;
  text-align: center;
}
.imgWrapper {
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  margin-top: -10px;
  img {
    cursor: pointer;
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
    transition: all 0.4s $curve2;
    &:hover {
      transform: scale(1.07);
      filter: none;
    }
  }
}

//Contact Styling
#contactCard {
  margin: -10rem 7vw 2.5rem;
}
#contactForm {
  margin: 2rem 0;
  padding: 0 21%;
  display: inline-block;
  input {
    width: 100%;
    padding: 12px 20px;
  }
  textarea {
    height: 150px;
    resize: vertical;
    width: 100%;
  }
  button[type="submit"] {
    margin: 10px 5px;
    background: var(--accent);
    color: var(--background1);
    font-size: 1.5rem;
    transition: all 0.3s $curve2 0s;
    box-shadow: 0 5px 10px 0px rgba(7, 143, 255, 0.1);
    &:hover {
      background: var(--foreground1);
      box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
      i.m-1-10 {
        transform: translateX(5px);
      }
    }
  }
  button[type="reset"] {
    margin: 10px 5px;
    color: var(--background1);
    background: var(--foreground1);
    box-shadow: 0 5px 10px 0px rgba(24, 24, 24, 0.35);
    transition: all 0.3s $curve2 0s;
    &:hover {
      background: var(--foreground2);
      i.fa-refresh {
        transform: rotate(360deg);
        transition: all 0.4s $curve2 0s;
      }
    }
  }
  input,
  textarea,
  button {
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: var(--background2);
    &:focus,
    &:hover {
      box-shadow: $shadow;
    }
  }
}

.m-1-10 {
  margin-left: 5px;
  transition: all 0.4s $curve2 0s;
}

// Footer Styling
footer {
  bottom: 0;
  height: 8rem;
  background: var(--background1);
  text-align: center;
  button#toTop {
    position: relative;
    top: 5px;
    margin: 5px auto;
    padding: 2px 9px;
    color: var(--background1);
    border-radius: 50%;
    font-size: 1.5rem;
    background: var(--accent);
    box-shadow: $shadow;
    &:hover {
      i.fa-angle-up {
        transform: translateY(-1px);
        transition: all 0.4s $curve2 0s;
      }
    }
  }
  #credits {
    position: relative;
    bottom: 5px;
    padding: 5px 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    color: #dc143c;
    #createdWith {
      margin: auto 0;
      color: var(--foreground1);
      img {
        width: 15px;
        vertical-align: middle;
      }
    }
    #copyright {
      color: var(--foreground1);
    }
  }
}

// Responsive Design
@media screen and #{$mq-medium} {
  // NavBar Styling
  nav {
    ul#desktopNav {
      display: none;
    }
  }
  // Mobile Nav
  .hamburger {
    display: block;
  }
  // Loader Styling
  .loader {
    img {
      width: 12em;
    }
  }
  // Gallery Styling
  .imgContainer {
    margin: 0;
  }
  //Contact Styling
  #contactForm {
    padding: 0 15%;
  }
}

@media screen and #{$mq-small} {
  // Hero Styling
  #heroText {
    padding: 7.5rem 4rem;
    #hello {
      font-size: 1.5rem;
    }
    #name {
      font-size: 5.5rem;
    }
  }
  // Projects Styling
  #projects {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 2rem;
    #swipe {
      display: block;
    }
  }
  // Gallery Styling
  .imgWrapper {
    width: 18.75rem;
    height: 18.75rem;
    img {
      max-height: 18.75rem;
    }
  }
  //Contact Styling
  #contactCard {
    margin: -10rem 1.5rem 2rem;
  }
  #contactForm {
    padding: 0 2.5%;
  }
}

// Animations

@keyframes nav-in {
  0% {
    height: 0;
  }
  20% {
    height: 0.2;
  }
  40% {
    height: 0.4;
  }
  60% {
    height: 0.6;
  }
  80% {
    height: 0.8;
  }
  100% {
    height: 1;
  }
}

@keyframes hero {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes Slider {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes oscillate-X {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes oscillate-Y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
