// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../Animations.css");

// Variables
$dark: #181818;
$light: #ddd;
$grey: #242424;
$accent: #077bff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #077bff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);

// NavBar Styling
header {
  // fixed position
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0px;
  nav {
    // misc.
    display: flex;
    padding: 13px 10%;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    background: $dark;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    #social {
      a {
        cursor: pointer;
        color: #fff;
        margin-right: 10px;
        font-size: 18px;
        transition: all 0.3s $curve1 0s;
      }
    }

    #menu {
      display: block;
      font-size: 12px;
      a {
        cursor: pointer;
        color: #fff;
        font-family: $font1;
        font-weight: 600;
        margin-left: 30px;
        transition: all 0.3s $curve1 0s;
      }
    }
    button {
      padding: 4px 15px;
      margin-left: 30px;
      background: #fff;
      font-family: $font1;
      border: none;
      color: $dark;
      font-size: 12px;
      font-weight: 600;
      border-radius: 15px;
      transition: all 0.3s $curve1 0s;
      cursor: pointer;
      &:hover {
        background: $accent;
        background: $gradient;
        background: $-webkitgradient;
        color: #fff;
      }
    }
  }
}
#hamburger {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  display: none;
  color: #fff;
  transition: all 0.3s $curve1 0s;
  &:hover {
    color: $accent;
  }
  .active {
    color: $accent;
  }
}
// Hero Styling
.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $accent;
  background: $gradient;
  background: $-webkitgradient;
  background-size: cover;
  padding: 60px 15%;
  height: fit-content;
  line-height: 1;
  font-family: $font2;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s $curve1 0s;
  h3 {
    color: #fff;
  }
  #name {
    margin-top: 10px;
    font-size: 80px;
  }
  #prof {
    text-align: right;
    font-family: $font1;
    margin: auto 0;
    color: $dark;
    line-height: 1.4;
    transition: all 0.3s $curve1 0s;
    li {
      font-size: 30px;
      font-weight: 400;
      &:nth-child(1) {
        font-size: 60px;
        font-weight: 600;
      }
    }
  }
}

// Footer Styling
footer {
  margin: 10px 0 0 0;
  bottom: 0;
  padding: 11px 10%;
  font-size: 13px;
  background: $dark;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.1);
  #made {
    margin: auto 0;
    color: $light;
    .fa-heart {
      color: crimson;
    }
    img {
      width: 15px;
      vertical-align: middle;
    }
  }
  #copyright {
    color: $light;
  }
}

// Responsive Design
@media screen and (max-width: 950px) {
  // NavBar Styling
  nav {
    padding: 13px 10%;
    #social {
      margin-right: 5px;
    }
  }

  // Hero Styling
  .hero {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    #hello {
      font-size: 30px;
    }
    #name {
      font-size: 90px;
    }
    #prof {
      text-align: left;
      margin: 10px 0;
      li {
        font-size: 30px;
        &:nth-child(1) {
          font-size: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  // NavBar Styling
  nav {
    padding: 13px 10%;
    #social {
      margin-right: 5px;
    }
    span#menu {
      display: none;
    }
  }
  #hamburger {
    display: block;
    float: right;
  }

  // Hero Styling
  .hero {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    line-height: 0.9;
    #hello {
      font-size: 5px;
    }
    #name {
      font-size: 60px;
    }
    #prof {
      margin: 15px 0;
      li {
        font-size: 20px;

        &:nth-child(1) {
          font-size: 40px;
        }
      }
    }
  }
  footer {
    #made {
      margin: auto auto;
    }
    #copyright {
      display: none;
    }
  }
}
