// Imports
@import url("../Animations.scss");

// Variables
$dark: #181818;
$light: #dddddd;
$grey: #505050;
$accent: #078fff;
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow1: 0px 5px 10px rgba(0, 0, 0, 0.1);
$shadow2: 4px 5px 10px rgba(0, 0, 0, 0.1);

// NavBar Styling
header {
  // fixed position
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0px;
  box-shadow: $shadow1;
  nav {
    display: flex;
    padding: 13px 10%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    #logo {
      /* padding: 0.1px 4px;
      border-radius: 4px;
      background: white; */
      vertical-align: middle;
      color: $dark;
      font-weight: 600;
      font-size: 13px;
    }
    #desktopMenu {
      display: block;
      font-size: 13px;
      letter-spacing: 0.5px;
      font-weight: 600;
      li {
        display: inline-block;
      }
      a {
        cursor: pointer;
        color: $dark;
        padding: 20px 10px;
        transition: all 0.2s $curve1 0s;
        &:hover,
        &.active {
          color: $accent;
        }
      }
    }
  }
}
#blog {
  padding: 2px 10px;
  margin-left: 10px;
  background: #fff;
  color: $dark;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 600;
  border: solid $dark 2px;
  box-shadow: 1.5px 1.5px 0px 0.5px;
  transition: all 0.2s $curve1 0s;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}

// Mobile Nav
.hamburger {
  cursor: pointer;
  background: transparent;
  border: 0;
  height: 19px;
  outline: 0;
  padding: 0;
  position: relative;
  width: 19px;
  display: none;
  &::before,
  &::after {
    background-color: $dark;
    content: " ";
    display: block;
    height: 2px;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s $curve1;
    &:hover {
      background-color: $accent;
    }
  }
  &::before {
    top: 25%;
  }
  &::after {
    top: 75%;
  }
}
.x {
  &::before {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
  }
  &::after {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
  }
}
.mobileMenu {
  z-index: 5;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0;
  padding: 5px 10%;
  background: #fff;
  height: calc(100vh - 50px);
  width: 100%;
  text-align: center;
  transition: all 0.3s $curve1 0s;
  animation: nav-in 0.3s $curve1 alternate;
  #blog {
    margin: 0 auto;
    padding: 1px 10px;
    width: 30%;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    color: $dark;
    &:hover {
      color: $accent;
    }
  }
  a {
    cursor: pointer;
    display: block;
    color: $dark;
    font-family: $font1;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s $curve1 0s;
    &:hover,
    &.active {
      color: $accent;
    }
  }
  ul {
    padding: 0;
  }
  li {
    display: block;
    padding: 10px 20px;
  }
}

// Hero Styling
.hero {
  display: grid;
  grid-template-columns: 55% 45%;
  background: $accent;
  background: $gradient;
  background: $-webkitgradient;
  background-attachment: scroll;
  background-size: auto;
  padding: 80px 11%;
  font-family: $font2;
  line-height: 1.2;
  color: #fff;
  transition: all 0.3s $curve1 0s;
  #hello {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
  #name {
    font-size: 75px;
    font-weight: 600;
  }
  #prof {
    text-align: right;
    font-family: $font1;
    font-weight: 600;
    margin-top: 30px;
    color: $dark;
    transition: all 0.3s $curve1 0s;
    font-size: 65px;
  }
}

// Footer Styling
footer {
  margin: 0;
  bottom: 0;
  padding: 15px 10% 40px 10%;
  font-size: 13px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  color: #dc143c;
  #made {
    margin: auto 0;
    color: $dark;
    img {
      width: 15px;
      vertical-align: middle;
    }
  }
  #copyright {
    color: $dark;
  }
}

// Responsive Design
@media screen and (max-width: 950px) {
  // NavBar Styling
  nav {
    ul#desktopMenu {
      display: none;
    }
  }
  .hamburger {
    display: block;
  }
  // Hero Styling
  .hero {
    padding: 50px 13%;
    grid-template-columns: auto;
    #prof {
      text-align: left;
      margin: 10px 0;
      font-size: 55px;
    }
  }
}
@media screen and (max-width: 650px) {
  // Hero Styling
  .hero {
    grid-template-columns: auto;
    #name {
      font-size: 60px;
    }
    #prof {
      font-size: 45px;
    }
  }
}

// Animation
@-webkit-keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
@keyframes nav-in {
  0% {
    height: 0;
  }
  50% {
    height: 0.5;
  }
  100% {
    height: 1;
  }
}
