// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Source+Code+Pro:wght@500;900&display=swap");
$font1: "Poppins", sans-serif;
$font2: "Source Code Pro", Monospace;

// Colors

$gradient: linear-gradient(-60deg, var(--accent) 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(
  -60deg,
  var(--accent) 0%,
  #00f2fe 100%
);

body {
  --accent: #02b7c4; //#078fff
  // lightMode
  --foreground1: #111;
  --background1: #fff;
  --foreground2: #444;
  --background2: #ebebeb;
  // darkMode
  &.dark-mode {
    --foreground1: #fff;
    --background1: #111;
    --foreground2: #ebebeb;
    --background2: #1d1d1d;
  }
}

// Media Queries
$max-width: 1140px;

$mq-small: (
  max-width: 768px,
);
$mq-medium: (
  max-width: 1024px,
);
$mq-large: (
  min-width: 1366px,
);

// Misc.
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
$inset-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
