// Colors
// lightMode
// $foreground1: #111;
// $background1: #fff;
// $foreground2: #333333;
// $background2: #eee;

// darkMode
$foreground1: #fff;
$background1: #111;
$foreground2: #fafafa;
$background2: #222;

$accent: #078fff;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);

// Fonts
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;

// Media Queries
$max-width: 1080px;
$mq-small: (
  max-width: 768px,
);
$mq-medium: (
  max-width: 1024px,
);
$mq-large: (
  min-width: 1366px,
);

// Misc.
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
$inset-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
