// Colors

$white: #fff;
$black: #111;
$light: #ebebeb;
$dark: #222;
$accent: #12c7a1; //#078fff
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);

// lightMode
body {
  --foreground1: #111;
  --background1: #fff;
  --foreground2: #222;
  --background2: #ebebeb;
}
body.dark-mode {
  --foreground1: #fff;
  --background1: #111;
  --foreground2: #ebebeb;
  --background2: #222;
}
// darkMode
input[type="checkbox"]#switch:checked {
  $foreground1: $white;
  $background1: $black;
  $foreground2: $light;
  $background2: $dark;
}

// Fonts
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;

// Media Queries
$max-width: 1080px;

$mq-small: (
  max-width: 768px,
);
$mq-medium: (
  max-width: 1024px,
);
$mq-large: (
  min-width: 1366px,
);

// Misc.
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
$inset-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
