// Animations
@keyframes scrolling-in {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes scrolling-out {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes boost {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
