// Sass Variables
// Colors
$dark: #111;
$light: #f1f1f1;
$grey: #555;
$accent: #078fff;
$gradient: linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);
$-webkitgradient: -webkit-linear-gradient(-60deg, #078fff 0%, #00f2fe 100%);

// Fonts
$font1: "Poppins", sans-serif;
$font2: "Space Mono", Monospace;

// Media Queries
$max-width: 1080px;
$mq-small: (
  max-width: 768px,
);
$mq-medium: (
  max-width: 1024px,
);
$mq-large: (
  min-width: 1366px,
);

// Misc.
$curve1: cubic-bezier(0.39, 0.575, 0.565, 1);
$curve2: cubic-bezier(0.7, 0, 0.3, 1);
$shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
$inset-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
  font-family: $font1;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: $dark;
  line-height: 25px;
  background: $light;
  //Background-Image
  /* &::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("background.png");
    //Center and scale the image
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    z-index: -9;
  } */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  color: $dark;
  line-height: 1;
  margin-bottom: 7px;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
p {
  margin: 0.6rem 0;
  font-family: $font1;
  font-size: 1.4rem;
  a {
    color: $accent;
    &:hover {
      text-decoration: underline;
    }
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 0.3s $curve1;
}
li {
  list-style: none;
}
input,
textarea,
button {
  font-family: $font1;
  font-size: 1.4rem;
  font-weight: 700;
  color: $grey;
  display: inline-block;
  border: none;
  transition: all 0.3s $curve1 0s;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
// Section Styling
section {
  margin: auto;
  padding: 0 25px;
  max-width: 1040px;
  background: transparent;
}
.whiteSection {
  padding: 30px 0;
  background: #fff;
}
.greySection {
  padding: 30px 0;
  box-shadow: $inset-shadow;
  background: $light;
}

// Card Styling
.card {
  margin: 0 7vw;
  padding: 50px 10%;
  background-color: #fff;
  color: $dark;
  border-radius: 10px;
  box-shadow: $shadow;
}

// Hero Rotating Text
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
}

@media screen and #{$mq-small} {
  .card {
    margin: 30px 25px;
    padding: 50px 4%;
  }
}

// Animations
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1); */
@keyframes boost {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
