@import "./variables";
// var(--accent)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
  font-family: $font1;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--foreground1);
  background: var(--background2);
  animation: fade-in 0.8s $curve1;
  //Background-Image
  /* &::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("background.png");
    //Center and scale the image
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    z-index: -9;
  } */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  color: var(--foreground1);
  font-weight: 700;
  margin: 5px 0;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
h2 {
  font-size: 1.8rem;
  color: var(--accent);
  line-height: 2.5rem;
  font-weight: 500;
}
b {
  font-weight: 700;
}
p {
  margin: 0.25rem 0 0.75rem 0;
  font-family: $font1;
  color: var(--foreground2);
  line-height: 24px;
  font-size: 1.4rem;
  a {
    color: var(--accent);
    &:hover {
      text-decoration: underline;
    }
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all 0.3s $curve1;
}
li {
  list-style: none;
}
input,
textarea,
button {
  font-family: $font1;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--foreground2);
  display: inline-block;
  border: none;
  outline: none;
  transition: all 0.3s $curve1 0s;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
// Section Styling
section {
  margin: auto;
  max-width: $max-width;
  background: transparent;
}
.whiteSection {
  background: var(--background1);
}
.greySection {
  box-shadow: $inset-shadow;
  background: var(--background2);
}

// Card Styling
.card {
  margin: 20px 7vw;
  padding: 50px 10%;
  background-color: var(--background1);
  color: var(--foreground1);
  border-radius: 20px;
  box-shadow: $shadow;
}

// Responsive Design
@media screen and #{$mq-large} {
}

@media screen and #{$mq-medium} {
}

@media screen and #{$mq-small} {
  .card {
    margin: 20px 25px;
    padding: 50px 4%;
  }
}

// Animations
/* transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1); */
@-webkit-keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}
@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
