// Import
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

// Variables
$dark: #16171a;
$light: #e1e8e9;
$accent: #0056d8;
$font1: "Roboto", sans-serif;
$font2: "Space Mono", Monospace;

html {
  margin: 0;
  padding: 0;
  overflow: auto;
}
